body{
    background-color: rgb(73, 43, 226);
}

  #mapa{
    stroke-dasharray: 500; /* Longitud del trazo */
    stroke-dashoffset: 500; /* Oculta el trazo */
    animation: draw 5s linear infinite;
    transition: fill 0.5s ease-out;
    fill: #060316;
  }
  .sol {
        fill: #060316 ;
      transform-box: fill-box; /* Asegura que transform se aplique correctamente */
      transform-origin: center; /* Asegura que el escalado sea desde el centro */
      animation: draw 5s linear infinite, pulse 1.5s infinite 5s; /* Agrega delay de 5s */
  }

  svg:hover #mapa, svg:hover .sol {
    fill: #786104; /* Cambia a un amarillo brillante */
  }
/* mapa light */
  #mapaLight{
    stroke-dasharray: 500; /* Longitud del trazo */
    stroke-dashoffset: 500; /* Oculta el trazo */
    animation: draw 5s linear infinite;
    transition: fill 0.5s ease-out;
    fill: #f5f3ff;
  }
  .solLight {
        fill: #f5f3ff ;
      transform-box: fill-box; /* Asegura que transform se aplique correctamente */
      transform-origin: center; /* Asegura que el escalado sea desde el centro */
      animation: draw 5s linear infinite, pulse 1.5s infinite 5s; /* Agrega delay de 5s */
  }

  svg:hover #mapaLight, svg:hover .solLight {
    fill: #786104; /* Cambia a un amarillo brillante */
  }

  @keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
  }
    
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  
 
  

  
 
  
  